# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# misc
.DS_Store

# editors
.idea
.history

## Custom files
raycast-scripts
raycast-obsidian-bookmarks/assets/*.json
